<html> 

    <body>
        <div class = "btn-group-justified btn-group-sm btn-group-vertical">
            <input type="text" id="search-name" placeholder="Search by name...">
            <a href="#"><button>Search</button></a>
        </div>

        <br><br>

        <table border = 1>
            <tr>
                <th>contact_id</th>
                <th>fst_name</th>
                <th>lst_name</th>
                <th>sex</th>
                <th>dob</th>
                <th>phone_number</th>
                <th>address</th>
                <th>email</th>
                <th>bid</th>
            </tr>
            <tr>
                {{#each tableData}}
                    <td>{{contact_id}}</td>
                    <td>{{fst_name}}</td>
                    <td>{{lst_name}}</td>
                    <td>{{sex}}</td>
                    <td>{{dob}}</td>
                    <td>{{phone_number}}</td>
                    <td>{{address}}</td>
                    <td>{{email}}</td>
                    <td>{{bid}}</td>
                {{/each}}
            </tr>
          </table>
  
    </body>
</html>